#chessdrill {
    width: 320px;
    height: 320px;
}

.cd-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#cd-promotion-choice {
    background: rgba(237, 235, 233, 0.7);
    z-index: 205;
    position: absolute;
    width: 100%;
    height: 100%;
}

#cd-promotion-choice square {
    cursor: pointer;
    border-radius: 50%;
    background-color: #b0b0b0;
    box-shadow: inset 0 0 25px 3px #808080;
    transition: all 150ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 12.5%;
    height: 12.5%;
    pointer-events: none;
}

#cd-promotion-choice square:hover {
    box-shadow: inset 0 0 48px 8px #d64f00;
    border-radius: 0%;
}

#cd-promotion-choice square:hover piece {
    transform: none;
}

#cd-promotion-choice piece {
    pointer-events: auto;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: all 150ms;
    transform: scale(0.8);
}

.cd-control {
    justify-content: center;
    display: flex;
    flex-flow: column;
    padding: 2em;
}

.cd-navigate {
    justify-content: center;
    display: flex;
}

.cd-navigate-menu {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
}

.cd-navigate-button {
    flex: 1 1 30%;
    cursor: pointer;
    text-align: center;
    background: none;
    border: none;
    outline: none;
}

.cd-navigate-button:hover {
    font-weight: 900;
}

.cd-navigate-button:first-child {
    flex: 1 1 20%;
}

.cd-navigate-button:last-child {
    flex: 1 1 20%;
}

.cd-description {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 1em;
}

.cd-description .cd-piece {
    flex: 0 0 32px;
    height: 32px;
    margin-right: 5px;
}

.cd-description piece {
    background-size: cover;
    position: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

.cd-piece piece.king.white {
    background-image: url('images/pieces/merida/wK.svg');
}

.cd-piece piece.king.black {
    background-image: url('images/pieces/merida/bK.svg');
}

.cd-instructions {
    display: flex;
    align-items: center;
}

.cd-instructions .cd-icon {
    display: block;
    width: 32px;
    height: 32px;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
}

.cd-instructions .cd-icon.correct {
    color: green;
}

.cd-instructions .cd-icon.incorrect {
    color: red;
}

.cd-annotations {
    align-items: center;
    font-style: normal;
    overflow: auto;
    height: 3em;
    line-height: 1em;
}

.cd-message > * {
    display: block;
}

.cd-message strong {
    font-size: 1.5em;
}

.cd-message em {
    font-style: normal;
}

[data-icon]::before {
    content: attr(data-icon);
    /*color: #b0b0b0;*/
    font-size: 1.3em;
    vertical-align: middle;
    speak: none;
}
